@import  url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  font-size: 16px;
  font-family: 'League Spartan', Avenir, Roboto !important;
  /* line-height: 1.2; */
}

html {
  scroll-snap-type: y mandatory;
  scroll-padding-top: 15vh;
}

h1 {
  font-size: xx-large;
}

body {
  /* background-image: url('./assets/AboutBG.png'); */
  /* position:fixed; */
}

.Modal {
  position: fixed;
  bottom: -150vh;
  background-color: #fff;
  width: 100%;
  left: 0;
  padding: 0 12px 12px;
  transition: bottom 0.3s ease-out;
  z-index: 100;
  border-radius: 20px 20px 0 0;
}

.Modal.Show {
  bottom: 0;
}

.Overlay {
  background-color: rgba(0, 0, 0, 0.55);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: none;
  z-index: 99;
}

.Overlay.Show {
  display: block;
}

.Close {
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 2.8rem;
  background-color: transparent;
  border: 0;
  font-size: 24px;
  color: red;
}