@import  url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  font-size: 16px;
  font-family: 'League Spartan', Avenir, Roboto !important;
}

html {
  scroll-snap-type: y mandatory;
  scroll-padding-top: 15vh;
}

h1 {
  font-size: xx-large;
}

body {
  /* background-image: url('./assets/AboutBG.png'); */
}